In [8]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [12]:
lsd = pd.read_csv("../../data/cleaned/merged_energy_emission.csv")
lsd.head()

,Unnamed: 0,year,total_emission,transportation_emission,coal_emission,natural_gas_emission,electricity_emission,petroleum_emission,motor_emission,hydrocrabon_gas_emission,...,geothermal energy consumption,solar energy consumption,wind energy consumption,wood energy consumption,waste energy consumption,biofuels consumption,total biomass energy consumption,total renewable energy consumption,emission_per_capita,electric_consumption_per_capita
0,0,1990,"5,039.90","1,587.60",0,36.0,3.2,"1,548.40",966.8,1.4,...,170.747,58.768,29.007,2216.166,408.079,110.867,2735.112,6040.024,19.32,11713.33
1,1,1991,"4,994.60","1,567.90",0,32.9,3.2,"1,531.90",962.4,1.3,...,177.626,61.623,30.796,2214.082,439.715,128.000,2781.797,6067.785,19.06,12134.17
2,2,1992,"5,094.90","1,591.60",0,32.3,3.1,"1,556.20",979.1,1.2,...,178.699,62.880,29.863,2313.471,473.202,145.005,2931.678,5820.556,19.14,12014.96
3,3,1993,"5,185.80","1,604.20",0,34.2,3.2,"1,566.90",993.1,1.3,...,185.673,65.190,30.987,2259.774,479.336,169.062,2908.172,6081.635,19.35,12261.52
4,4,1994,"5,263.60","1,644.10",0,37.6,3.3,"1,603.20","1,004.10",2.1,...,173.464,67.126,35.560,2323.820,515.323,188.391,3027.534,5987.142,19.36,12455.16

In [14]:
columns = ["Unnamed: 0", "coal_emission"]
lsd.drop(columns, axis=1, inplace=True)

In [15]:
lsd.head()

,year,total_emission,transportation_emission,natural_gas_emission,electricity_emission,petroleum_emission,motor_emission,hydrocrabon_gas_emission,jet_fuel_emission,distillate_fuel_emission,...,geothermal energy consumption,solar energy consumption,wind energy consumption,wood energy consumption,waste energy consumption,biofuels consumption,total biomass energy consumption,total renewable energy consumption,emission_per_capita,electric_consumption_per_capita
0,1990,"5,039.90","1,587.60",36.0,3.2,"1,548.40",966.8,1.4,222.6,267.8,...,170.747,58.768,29.007,2216.166,408.079,110.867,2735.112,6040.024,19.32,11713.33
1,1991,"4,994.60","1,567.90",32.9,3.2,"1,531.90",962.4,1.3,215.2,263.4,...,177.626,61.623,30.796,2214.082,439.715,128.000,2781.797,6067.785,19.06,12134.17
2,1992,"5,094.90","1,591.60",32.3,3.1,"1,556.20",979.1,1.2,213.4,269.5,...,178.699,62.880,29.863,2313.471,473.202,145.005,2931.678,5820.556,19.14,12014.96
3,1993,"5,185.80","1,604.20",34.2,3.2,"1,566.90",993.1,1.3,215.1,277.7,...,185.673,65.190,30.987,2259.774,479.336,169.062,2908.172,6081.635,19.35,12261.52
4,1994,"5,263.60","1,644.10",37.6,3.3,"1,603.20","1,004.10",2.1,223.8,294.7,...,173.464,67.126,35.560,2323.820,515.323,188.391,3027.534,5987.142,19.36,12455.16

In [ ]:
from sklearn.datasets import make_regression